

DEEPGRAM_API_KEY=60fc5e043d132c9499fddf86b5b5d84da809d378
GROQ_API_KEY=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
ELEVENLABS_API_KEY=sk_eba2065306ae30613bb594dcb079f341ab35c0c03eadfcb0

DEEPGRAM_MODEL=nova-2
GROQ_MODEL=llama3-8b-8192
ELEVENLABS_VOICE=Rachel
LOG_LEVEL=INFO 